

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

div {
    width: 50%;
    margin-left: 25%;
}

img {
    margin-top: 30px;
    width: 100%;
    border: 5px solid white;
}

h1 {
    color: yellow;
    text-transform: uppercase;
}
p {
    font-size: 15px;
    color: rgb(170, 251, 207);

}